#ab-info-popup[show="0"] {
    display: none;
}

#ab-info-popup[show="1"] {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.info-window {
    width: 1050px;
    min-height: 600px;
    background-color: #151518;
    border-radius: 12px;
    border: 1px solid #43434326;
    padding: 16px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.479);
}

.info-meta-part {
    display: flex;
    flex-direction: column;
    width: 38%;
    align-items: center;
}

#info-cover {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: 1px solid #43434326;
}

#info-title {
    color: white;
    font-family: 'ClashDisplay';
    font-size: 24px;
    font-weight: 500;
    margin-block: 24px;
    text-align: center;
    word-break: break-all;
}

.meta-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-meta-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    font-family: 'Code';
    color: #d6d6d6;
    text-align: center;
    font-size: 14px;
    max-width: 300px;
    text-wrap: wrap;
    word-break: break-all;
}

.meta-entry-icon {
    min-width: 20px;
    height: 20px;
    background-color: #333232;
    border-radius: 4px;
    border: 1px solid #5959591a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cfd4d7;
    font-size: 12px;
}

#info-path {
    font-size: 12px;
}

.info-buttons, .info-buttons-edit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 12px
}

.info-btn-secondary {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #5c5c5c;
    background-color: #474747;
    color: white;
    cursor: pointer;
    transition: background-color .4s;
}

.info-btn-secondary:hover {
    background-color: #5c5c5c;
}

.info-btn-primary {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    color: black;
    font-size: 24px;
    padding-left: 8px;
    cursor: pointer;
    transition: color .4s;
}

.info-btn-primary:hover {
    color: rgb(42, 104, 167);
}

#ab-info-popup[edit="0"] .info-buttons-edit {
    display: none;
}

#ab-info-popup[edit="1"] .info-buttons {
    display: none;
}

#ab-info-popup[edit="1"] .info-not-editable {
    opacity: .4;
}

#ab-info-popup[edit="1"] .info-editable {
    text-decoration: underline;
}

.vertical-sep {
    width: 1px;
    background-color: #5a59592b;
}

.info-tracks-part {
    padding-inline: 20px;
    max-height: 600px;
    width: 58%;
    overflow-y: scroll;
}


#info-tracks-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#ab-info-popup[edit="1"] #info-tracks-table {
    cursor: row-resize;
}

.info-track-item  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Code';
    font-size: 14px;
    word-wrap: break-word;
    background-color: transparent;
    transition: background-color .4s;
    padding-block: 4px;
    border-radius: 6px;
}

.info-track-item:hover {
    background-color: #ffffff0a;
}

.info-track-item-index {
    color: #5b646e;
    width: 50px;
    padding-left: 8px;
}

.info-track-item-title {
    width: 100%;
    color: #d1d4e0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#ab-info-popup[edit="0"] .info-track-item-title {
    cursor: pointer;
}

.info-track-item-title > i {
    font-size: 10px;
    color: #5b646e;
    opacity: 0;
    transition: opacity .2s;
}

#ab-info-popup[edit="0"] .info-track-item-title:hover > i {
    opacity: 1;
}

.info-track-item-bookmarks {
    width: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #a2a9e3;
}

.info-track-item-bookmarks > i {
    font-size: 10px;
}

.info-track-item-time {
    color: #5b646e;
    text-align: right;
    width: 70px;
    padding-right: 8px;
}
