:root {
    --play-bar-value: 0%;
    --volume-bar-value: 50%;
    --speed-bar-value: 50%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    border: none;
    background: transparent;
}

input[type="range"]::-moz-range-thumb {
    width: 0;
    height: 0;
    border: none;
    background: transparent;
}

.playview-container {
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0px;
    background-color: #202127eb;
    box-shadow: 0px -3px 20px 0px #00000085;
    border: 1px solid #ffffff08;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    box-sizing: border-box;
}

.playview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 180px;
    padding-inline: 20px;
    height: 68px;
    backdrop-filter: blur(8px);
}

#play-bar {
    appearance: none;
    -webkit-appearance: none;
    height: 4px;
    margin-top: 1px;
    border-radius: 8px;
    width: calc(100% - 180px);
    margin-left: 180px;
    cursor: pointer;
    background: linear-gradient(to right, #444e5f 0%, #94a5c4 var(--play-bar-value), #323a49 var(--play-bar-value), #323a49 100%);
}

#play-bar::-webkit-slider-thumb {
    opacity: 0;
    transition: opacity .2s;
}

#play-bar:focus::-webkit-slider-thumb,
#play-bar:hover::-webkit-slider-thumb {
    opacity: 1;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff8c;
    border-radius: 100%;
    cursor: pointer;
}

#play-bar-hint {
    position: fixed;
    color: #dde5f0d6;
    left: 100px;
    bottom: 90px;
    font-family: 'Code';
    font-size: 14px;
    background-color: #24252d;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.212);
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff0f;
    opacity: 0;
    transition: opacity .3s;
    transition-delay: 300ms;
}

#play-bar:hover ~ #play-bar-hint {
    transition-delay: 0ms;
    opacity: 1;
}

.pv-cover-container {
    width: 180px;
}

#pv-cover {
    position: absolute;
    bottom: 12px;
    left: 8px;
    width: 160px;
    height: 160px;
    border-radius: 8px;
    border: 1px solid #43434326;
    box-shadow: 0px 1px 10px 0px #0006;
    cursor: pointer;
}

.flow-controls-group {
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
}

.flow-ctrl-btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #cfd9e6c7;
    cursor: pointer;
    transition: color .3s;
}

.flow-ctrl-btn:hover {
    color: #b6cbe6;
}

#pv-track-time {
    color: #c8daf2d6;
    font-family: 'Code';
    font-size: 14px;
    padding-top: 2px;
    margin-left: 12px;
}

.current-info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

#pv-curr-track {
    color: white;
    font-family: 'ClashDisplay';
    font-size: 18px;
    font-weight: 500;
    word-spacing: 4px;
    text-shadow: 0px 0px 27px #99bcff96;
}

#pv-curr-audiobook {
    color: #c7d2e994;
    font-family: 'Code';
    font-size: 14px;
}

.features-group {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.feature-btn {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: #a0a7afc7;
    cursor: pointer;
    transition: color .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-btn:hover {
    color: #beccdbc7;
}

.feature-range-container {
    position: relative;
    opacity: 0;
    transition: opacity .3s;
}

.feature-range {
    height: 120px;
}

.feature-range-bg {
    position: absolute;
    bottom: 32px;
    left: -15px;
    background-color: #24252d;
    border: 1px solid #ffffff0f;
    padding: 4px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px #0000005e;
    transition: background-color .4s;
}

.feature-range-bg:hover {
    background-color: #2e2f38;
}

.feature-range[orient=vertical] {
    appearance: none;
    -webkit-appearance: none;
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: bottom;
    width: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.feature-value {
    position: absolute;
    min-width: 34px;
    top: -38px;
    left: -10px;
    font-family: 'Code';
    font-size: 16px;
    background-color: #24252d;
    padding-block: 2px;
    padding-inline: 4px;
    border-radius: 6px;
    border: 1px solid #ffffff0f;
    box-shadow: 0px 0px 20px 0px #0000005e;
}

#volume-bar {
    background: linear-gradient(to top, #444e5f 0%, #94a5c4 var(--volume-bar-value), #323a49 var(--volume-bar-value), #323a49 100%);
}

#speed-bar {
    background: linear-gradient(to top, #444e5f 0%, #94a5c4 var(--speed-bar-value), #323a49 var(--speed-bar-value), #323a49 100%);
}

.feature-btn[showContent="0"] > .feature-range-container {
    display: none;
}

#volume-icon {
    min-width: 26px;
    margin-right: -4px;
}

#play-state-icon {
    min-width: 18px;
}

#bar-bookmarks {
    position: absolute;
    margin-left: 180px;
    width: calc(100% - 180px);
    bottom: 98px;
}

.on-bar-bookmark {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    transform: translateX(-50%);
    z-index: 4;
}

.on-bar-bookmark > i {
    color: #a2a9e3;
    text-shadow: 0px 0px 6px #0000009c;
    font-size: 12px;
    cursor: pointer;
}

.on-bar-bookmark[hovered="0"] > .bookmark-comment {
    display: none;
}

.bookmark-comment {
    font-family: 'Code';
    font-size: 14px;
    color: rgb(209, 214, 224);
    background-color: #2a2f3a;
    padding-inline: 8px;
    padding-block: 2px;
    border-radius: 4px;
    border: 1px solid #ffffff1c;
    box-shadow: 0px 0px 20px 0px #0000009c;
    opacity: 1;
    max-width: 400px;
    word-wrap: break-word;
    position: absolute;
    width: max-content;
    bottom: 20px;
    font-style: italic;
    text-align: center;
    opacity: 0;
    transition: opacity .4s;
}

.bookmark-meta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 4px;
    gap: 16px;
}

.bookmark-meta-info {
    font-size: 12px;
    text-align: center;
    color: #99a0ad;
    font-style: normal;
}

.rm-bookmark-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: -12px;
    left: -12px;
    background-color: #2a2f3a;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff1c;
    cursor: pointer;
    transition: background-color .3s;
}

.rm-bookmark-icon:hover {
    background-color: #5c484b;
}

