.shelf {
    height: 100dvh;
    width: 100%;
    padding: 24px;
    padding-right: 0px;
    box-sizing: border-box;
}

#shelf-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    padding-right: 24px;
}

#shelf-container > *:last-child {
    margin-bottom: 50%;
}

.shelf-category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    gap: 32px;
    height: auto;
    margin-bottom: 24px;
    padding-inline: 36px;
}

.shelf-category-container[collapsed="1"] {
    overflow: hidden;
    height: 0px;
}

.shelf-category-header {
    width: 100%;
    color: #abb3d136;
    font-family: 'Code';
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-bottom: 28px;
    justify-content: space-between;
    position: relative;
    margin-top: 4px;
}

.shelf-category-title-sep {
    width: 100%;
    height: 2px;
    background-color: #ffffff0d;
    margin-inline: 8px;
    border-radius: 4px;
}

.short-sep {
    width: 30px;
}

.shelf-category-header-mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.shelf-category-actions-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 50px;
}

.shelf-category-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.shelf-category-title > i {
    font-size: 14px;
}

.shelf-category-action-btn {
    border: 2px solid #abb3d11c;
    border-radius: 16px;
    color: #abb3d136;
    background-color: #0f0e11;
    width: max-content;
    font-family: 'Code';
    font-size: 14px;
    padding-inline: 12px;
    padding-block: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color .4s, color .4s;
}

.shelf-category-action-btn:hover {
    background-color: #17151a;
    color: #abb3d173;
}

.shelf-category-action-btn > i {
    font-size: 10px;
}

.ab-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab-entry-author > .ab-cover {
    border-radius: 100%;
}

.ab-cover {
    height: 250px;
    width: 250px;
    border-radius: 12px;
    border: 1px solid #aaaaaa17;
    box-shadow: 0px 0px 22px 0px #00000085;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #17181b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px;
    box-sizing: border-box;
    gap: 8px;
    opacity: .85;
    transition: box-shadow .4s, opacity .4s, background-color .4s, border .4s;
}

.ab-cover:hover {
    box-shadow: -6px 0px 22px 4px #000000;
    opacity: 1;
}

.ab-default-entry .ab-cover,
.shelf-dir .ab-cover {
    color: #ffffff1c;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

.ab-default-entry .ab-title {
    color: #ffffff25
}

.ab-title {
    color: #dde1e9;
    font-family: 'Code';
    font-size: 14px;
    font-weight: 400;
    max-width: 240px;
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
}

.ab-author {
    margin-top: 4px;
    color: rgb(143, 143, 143);
    font-family: 'Code';
    font-size: 12px;
    max-width: 240px;
    text-align: center;
}

.ab-meta {
    color: white;
    font-family: 'Code';
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.623);
    padding: 6px;
    border-radius: 6px;
    backdrop-filter: blur(12px);
    border: 1px solid #75757534
}

.shelf-dir[item-hovered="1"] > .ab-cover {
    border: 4px solid #aaaaaa17;
    background-color: #1a1b1f;
}

.blank-shelf-category {
    width: 100%;
    text-align: center;
    padding-block: 20px;
    font-family: 'Code';
    font-size: 14px;
    color: #ffffff21;
}


.shelf-category-header > i {
    cursor: pointer;
    color: #abb3d11c;
    transition: transform .2s, color .4s;
}

.shelf-category-header > i:hover {
    color: #abb3d150;
}

